<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Core CSS -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="bootstrap/css/sb-admin.css" rel="stylesheet">
  <link href="bootstrap/css/mETABOX.css" rel="stylesheet">
 <!--<link href="bootstrap/css/DataAnalysis.css" rel="stylesheet">-->
  <!-- Custom Fonts -->
  <link href="bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Core JavaScript -->
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="js/opencpu-0.5.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/mETABOX.js"></script>
  <script type="text/javascript" src="js/plotly-latest.min.js"></script>
  <!--<script type="text/javascript" src="js/DataAnalysis.js"></script>-->
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script src="semantic/dist/semantic.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
  <!-- App JavaScript -->
  <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="cytoscape/cytoscape.min.js"></script>
  <script type="text/javascript" src="js/jszip.min.js"></script>
  <script type="text/javascript" src="js/spin.js"></script>
  <!-- App CSS -->
  <link href="bootstrap/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
  <!-- Load nav menu -->

  <title>mETABOX.DataAnalysis</title>
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">

</head>

<body>

<div class="ui selection dropdown">
  <input type="hidden" name="gender">
  <i class="dropdown icon"></i>
  <div class="default text">Gender</div>
  <div class="menu">
    <div class="item" data-value="1">Male</div>
    <div class="item" data-value="0">Female</div>
  </div>
</div>

</body>
</html>
